@charset "utf-8";
body {
	font-family: Verdana, "돋움";
	font-size: 12px;
}
div {
	line-height: 2.1em;
}

.name {
	font-family: Verdana, "돋움";
	font-size: 18px;
}
a {
	color: #0066CC;
	text-decoration: none;
}
.littlename {
	font-family: Verdana, "돋움";
	font-size: 14px;
}
